/* List.blade */

/* Listの文字表示 */
.listtag{
  position:relative;
  right: 400px;
}

.form-search{
  position:relative;
  left: 800px;
  width: 300px;
  height: 10px;
  top:50px;
  font-weight: bold;
}

/* Listキーワード検索 */
.search{
  position:relative;
  left: 200px;
  top:-7px;
}

/* Listプルダウンメーカー名 */
.form-search{
  position:relative;
  left: 100px;
  width: 300px;
  height: 10px;
  top:0px;
  font-weight: bold;
}

/* Listのテーブル表示 */
.listtable{
  position: relative;
  top: 100px;
  bottom:30px;
}

/* キーワード検索ボタン */
.good1{
  position: relative;
  left: 100px;
  bottom:37px;
  top:-45px;
}

/* Edit.blade */

/* Editの記入欄 */
.form-edit{ 
   position:relative;
   width: 100%;
   margin:0 auto;
   padding: 50px;
   width: 600px;
   font-weight: bold;
}

/* Editの選択されたナンバー*/
.edit-title{
  position:relative;
  left:500px;
  font-weight: bold;
}

/* 登録ボタン */
.edit-bottom{
  position:relative;
  width: 100%;
  margin:0 auto;
  padding: 50px;
  width: 600px;
}

/* Editの戻るボタン */
.editback{
  position: relative;
  top: 500px;
  bottom: 100px;
  left: 900px;
  right: 200px
}

/* Edit更新&キャンセルボタン */
.edit-bottom{
  position: relative;
  bottom: 100px;
  left: 300px;
  right: 200px
}

/* Create.blade */

/* createの文字表示 */
.createtag{
  position:relative;
  right: 200px;
}

/* Createの記入欄 */
.createtable{
  position:relative;
  width: 100%;
  left: 370px;
  padding: 50px;
  width: 600px;
  font-weight: bold;
}

/* Createの登録&キャンセルボタン */
.create-bottom{
  position: relative;
  bottom: 13px;
  left: 650px;
  right: 200px
}

/* Createのcreateの戻るボタン */
.createback{
  position: relative;
  bottom: 50px;
  left: 900px;
  right: 200px
}

/* detail.blade */

/* detailのcreateの戻るボタン */
.detailback{
  position: relative;
  top: 0px;
  left: 1150px;
  right: 200px
}

.kagen{
  position: relative;
  top: -30px;
  left: 193px
}

.nedan{
  position: relative;
  right: 0px;
  top: 58px;
}

.pop{
  position: relative;
  left: 50px;
  top: 35px;
}

.kako{
  position: relative;
  left: 80px;
}

.searchall{
  position: relative;
  top:50px;
}

.pull{
  position:relative;
  right: 200px;
  top:50px;
}

.turn-button{
  position: relative;
  left:350px;
  top:135px;
}